::-webkit-scrollbar { /*Oculta por completo la barra de desplazamiento */
    display: none;
}

*{
    font-family: "Lato", sans-serif;
    margin: 0;
    padding: 0;
}

body{
    width: 1280px;
    margin: 0 auto;
}

.hidden{
    display: none;
}

header {
    display: flex;
    justify-content: space-between;
    width: 1280px;
    box-sizing: border-box;
    height: 103px;
    align-items: center;
    padding: 0 108px;
    z-index: 20;
    position: fixed;
    top: 0;
    left: auto;
}

#btn_menu {
    position: sticky;
    width: 34px;
    height: 26px;
    top: 20px;
    left: 100px;
    filter: drop-shadow(4px 5px 0px #02187E);
    cursor: pointer;
    border-radius: 111px 0px 0px 0px;
    border: 4px;
}

#btn_menu .barras {
    box-sizing: content-box;
    display: block;
    width: 100%;
    height: 4px;
    background-color: #F39E46;
    border: 4px solid #FFFFFF;
    border-radius: 10px;
    transition: all 0.3s ease;
    position: relative;
}

.linea1.active {
    transform: rotate(45deg) translateY(17px);
}

.linea2.active {
    opacity: 0;
}

.linea3.active {
    transform: rotate(-45deg) translateY(-17px);
}

.btn-comprar {
    width: 200px;
    height: 60px;
    border-radius: 111px;
    right: -8px;
    top: -8px;
    position: relative;
    border: 8px solid #FFF;
    background-color: #83C252;
    box-shadow: 4px 5px 0px 0px #02187E;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 900;
    line-height: 18.9px;
    letter-spacing: 2.2px;
    cursor: pointer;
    outline: none;
    text-align: center;
}

/* Hover boton comprar */
@-webkit-keyframes hvr-pulse {
    25% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
    75% {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }
}

@keyframes hvr-pulse {
    25% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
    75% {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }
}

.hvr-pulse {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

.hvr-pulse:hover, .hvr-pulse:focus, .hvr-pulse:active {
    -webkit-animation-name: hvr-pulse;
    animation-name: hvr-pulse;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

.logo-numberBlocks{
    width: 550px;
    height: 320px;
    transform: translateY(110px);
    transition: all 0.6s ease-in-out;
}

@keyframes showNav {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

nav {
    position: fixed;
    margin-top: 32px;
    width: 15%;
    z-index: 3;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: block;
    justify-content: center;
}

nav ul li {
    opacity: 0;
    background: linear-gradient(to right, rgb(255, 166, 0), rgba(215, 146, 16, 0.907), rgba(194, 128, 6, 0.66), rgba(168, 117, 23, 0.534));
    text-transform: uppercase;
    animation: showNav 0.5s ease forwards;
    padding: 8px 12px;
}

a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: Lato;
    font-size: large;
}

nav ul li:nth-child(1) {
    animation-delay: 0s;
}

nav ul li:nth-child(2) {
    animation-delay: 0.3s;
}

nav ul li:nth-child(3) {
    animation-delay: 0.6s;
}

nav ul li:nth-child(4) {
    animation-delay: 0.9s;
}

nav ul li:nth-child(5) {
    animation-delay: 1.2s;
}

.burguer_container {
    width: 216px;
    display: flex;
    justify-content: left;
}

/*-------------------------- HERO----------------*/

.hero {
    top: 0;
    left: 0;
    width: 100%;
    height: 1854px;
    background-image: url(../img/section1/fondo.svg), url(../img/section2/fondo.svg);
    background-repeat: no-repeat, no-repeat;
    background-position: top, bottom;
    background-size: 100% auto;
}

.arbol_izq {
    position: absolute;
    width: 560px;
    height: 867px;
    top: -1px;
    left: -153px;
    z-index: 15;
    animation: entryLeft 1.5s ease-out;
}

.arbol_der_1 {
    width: 434.21px;
    height: 672.52px;
    position: absolute;
    top: 106.71px;
    left: 881px;
    z-index: 16;
    animation: entryRight 1.5s ease-out;
}

.arbol_der_2 {
    position: absolute;
    width: 278.03px;
    height: 430.85px;
    top: 278.38px;
    left: 1081px;
    z-index: 15;
    animation: entryRight 1.2s ease-out;
}

.roca_izq {
    position: absolute;
    width: 145.41px;
    height: 78.09px;
    top: 793.37px;
    left: 129.07px;
    z-index: 16;
    animation: entryLeft .7s ease-out;
}

.arbusto_izq_1 {
    position: absolute;
    width: 249.76px;
    height: 114.44px;
    top: 717.97px;
    left: 161.38px;
    z-index: 14;
    animation: entryLeft 1s ease-out;
}

.arbusto_izq_2 {
    position: absolute;
    width: 155.51px;
    height: 102.33px;
    top: 821.65px;
    left: 197.06px;
    z-index: 17;
    animation: entryLeft .5s ease-out;
}

.roca_der_1 {
    position: absolute;
    width: 66.65px;
    height: 56.55px;
    top: 737.5px;
    left:1030px;
    z-index: 17;
    animation: entryRight 1s ease-out;
}

.roca_der_2 {
    position: absolute;
    width: 59.24px;
    height: 35.01px;
    top: 788px;
    left:1040px;
    z-index: 19;
    animation: entryRight .5s ease-out;
}

.roca_der_3 {
    position: absolute;
    width: 113.77px;
    height: 74.05px;
    top: 737.5px;
    left: 1069px;
    z-index: 18;
    animation: entryRight .8s ease-out;
}

.arbusto_der_1 {
    position: absolute;
    width: 191.19px;
    height: 63.28px;
    top: 630.46px;
    left:1035px;
    z-index: 14;
    animation: entryRight 1.2s ease-out;
}

.arbusto_der_2 {
    position: absolute;
    width: 244.37px;
    height: 107.71px;
    top: 662.1px;
    left: 1081px;
    z-index: 15;
    animation: entryRight 1s ease-out;
}

.personaje_1 {
    position: absolute;
    width: 240.4px;
    height: 314.48px;
    top: 480px;
    left: 460px;
    z-index: 15;
    animation: entryTop .4s ease-out;
}

.sombra_personaje_1 {
    width: 110px;
    height: 16px;
    top: 732px;
    left: 520px;
}

.personaje_2 {
    position: absolute;
    width: 197px;
    height: 270px;
    top: 400px;
    left: 570px;
    z-index: 14;
    animation: entryTop 1.2s ease-out;
}

.sombra_personaje_2 {
    width: 120px;
    height: 20px;
    top: 690px;
    left: 635px;
}

.personaje_3 {
    position: absolute;
    width: 174px;
    height: 384px;
    top: 350px;
    left: 710px;
    z-index: 13;
    animation: entryTop .7s ease-out;
}

.sombra_personaje_3 {
    width: 120px;
    height: 13px;
    top: 667px;
    left: 754px;
}

.sombra {
    position: absolute;
    border-radius: 50%;
    background: rgba(68, 104, 63, 0.4);
    backdrop-filter: blur(27px);
    box-shadow: 0 0 10px 10px rgba(68, 104, 63, 0.4);
}

.personaje_4 {
    position: absolute;
    width: 601.64px;
    height: 543.24px;
    top: 1550.76px;
    left: 48px;
    z-index: 15;
}

.personaje_5 {
    position: absolute;
    width: 572px;
    height: 1259px;
    top: 867px;
    left: 787px;
   
}









/*--------------------------SECTION 2 ---------------------*/


/*--- SLIDE DE IMAGENES --*/

.contenedor-img{
    position: absolute;
    box-sizing: border-box;
    width: 576.38px;
    height: 324.35px;
    top: 1290px;
    left: 236px;
    border-radius: 106px;
    background-color: rgba(27, 95, 153, 1);
    padding: 29px;
    z-index: 13;
    overflow-x: hidden;
    
}




.contenedor-frame{
    display: flex;
    justify-content: center;
    gap: 36px;
    margin-top: 60px;

}



.frame {
    display: block;
    width: 332.96px;
    justify-items: center;
    font-family: Lato;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    position: relative;
    opacity: 0;
}

.frame p {
    margin-top: 20px;
}

.frame img {
    width: 332.96px;
    height: 302.69px;
    top: 2174px;
    left: 847.04px;
    gap: 0px;
    border-radius: 41px 0px 0px 0px;
    border: 9px 0px 0px 0px;
    opacity: 0px;
}


/*------------------    APP DIVERTIDA   ---------------------*/
.app-divertida {
    font-family: Lato;
    text-align: left;
    color: rgba(27, 66, 143, 1);
    position: absolute;
    top: 1014px;
    left: 100px;
    display: flex;
    flex-direction: column;
    gap: 22px;
}

.app-divertida h3 {
    font-size: 47px;
    font-weight: 600;
    line-height: 44.41px;
    width: 508px;
    height: 132px;
}

.app-divertida p {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    width: 704px;
    height: 154px;
}


.card-slid {
    position: absolute;
    border-radius: 77px;
    width: 518.38px;
    height: 266.35px;
    top: 29px;
    z-index: 14;
    transition: transform 1s;
}

.card-slid:first-child {
    left: 29px;
}

.card-slid:nth-child(2) {
    left: 577.38px;
}

.card-slid:nth-child(3) {
    left: 1125.76px;
}

.card-slid:nth-child(4) {
    left: 1674.14px;
}

@keyframes entryTop {
    0% {
        transform: translateY(-70px);
    }

    100% {
        transform: unset;
    }
}

@keyframes entryLeft {
    0% {
        transform: translateX(-50px);
    }

    100% {
        transform: unset;
    }
}

@keyframes entryRight {
    0% {
        transform: translateX(50px);
    }

    100% {
        transform: unset;
    }
}




/*---------------------- section3 DESCARGAR NUMBER BLOCKS------------------*/




.descargar-numberBlocks{
    background-image: url(../img/section3/fondo-violeta.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    justify-items: center;
    color: white;
    overflow: hidden;
}


.number-blocks{
    justify-items: center;
}
.descargar-numberBlocks h1{
    margin-top: 180px;
    margin-bottom: 72px;
    font-family: Lato;
    font-size: 61.14px;
    font-weight: 600;
    line-height: 67.25px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    width: 890px;
}

.descargar-numberBlocks span{
    font-family: Lato;
    font-size: 61.14px;
    font-style: italic;
    font-weight: 700;
    line-height: 67.25px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

#number-blocks-personajes{
    position: relative;
    height: fit-content;
    transition: transform 0.1s ease-out;
    justify-content: center; 
}


.descargar-numberBlocks button {
    padding-top: 25px;
    padding-bottom: 25px;
    padding-right: 20px;
    padding-left: 20px;
    width: 565px;
}


.descargar_btn {
    background-color: rgba(131, 194, 82, 1);
    border: 8px solid white;
    border-radius: 111px;
    min-width: 200px;
    height: 50px;
    box-shadow: 4px 5px 0px 0px rgba(2, 24, 126, 1);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Lato;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
    font-size: 20px;
    font-weight: 900;
    line-height: 18.9px;
    letter-spacing: 0.11em;
    text-align: left;
    text-transform: uppercase;
    box-sizing: content-box;
    cursor: pointer;
}

.descargar_btn img {
    display: none;
}

.descargar_btn:hover {
    animation: button_animation 4s ease;
    animation-fill-mode: both;
}

.descargar_btn:hover img {
    display: flex;
}






/*---------------------- section4 ------------------*/


.scroll-imagenes{
    display: flex;
    flex-direction: column;
    position: absolute;
    justify-content: space-between;
}
.scroll-imagenes img{
    width: 260px;
}

.scroll-contenedor-textos{
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    margin-left: 600px;

}


.scroll-contenedor-textos div{
    margin-right: 100px;
    width: 467px;
    
}

.scroll-de-personajes h1{
    font-size: 60px;
    font-weight: 600;
    margin-left: 100px;
    margin-top: 174px;
}

.scroll-contenedor-textos h2{
    font-size: 40px;
    font-weight: 400;
    margin-bottom: 15px;
    margin-top:267px;
}
.scroll-contenedor-textos div{
    font-size: 20px;
    font-weight: 400;
}





/*---------------------- SECTION 5  VIDEO------------------*/

.section5{
    display: flex;
    width: 100%;
    background-image: url(../img/section5/fondo-amarillo.svg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: 100% auto;
    height: 1443.83px;
    flex-direction: column;
    position: relative;
}



.section5 h1{
    font-family: Lato;
    font-size: 60px;
    font-weight: 600;
    line-height: 56.7px;
    color: #ffffff;
    width: 802px;
    height: 171px;
    position: absolute;
    top: 308px;
    left: 100px;
}
.contenedor-video img{
    width: 804px;
    height: 452px;
    margin-left: 100px;
}

.contenedor-video{
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    position: absolute;
    top: 525px;
    left: 100px;
    transform: translateX(-100px);
}

.video{
    position: absolute;
    width: 750px;
    height: 390px;
    margin-left: 100px;
    border-radius: 15px;
}



.section5-video{
    display: flex;
    flex-direction: row;
    align-items: start;
}

.personaje3{
    display: flex;
    position: absolute;
    width: 638px;
    height: 989px;
    left: 731px;
    top: 351px;
}


@keyframes transformUnset {
    100% {
        transform: unset;
    }
}




/*---------------------- section6 ------------------*/
.section6{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 102px;
    height: 973px;
    position: relative;
  
}

.contenedor{
    display: flex;
    flex-direction: column;
    gap: 43px;
}

.contenedor p{
    font-family: Lato;
    font-size: 20px;
    font-weight: 400;
    line-height: 18.9px;
    text-align: left;
    color: black;
    width: 467px;
}
.section6 h1{
    color:#9D2121;
    font-size: 60px;
    width: 746px;
    position: relative;
    
}

.contenedor-personajes{
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-template-rows: 368px 320px;
    z-index: 0;
    background-image: url(../img/section6/grid/grid.png);
    
       
}

.contenedor-personajes-grid{
    margin-bottom: 400px;
}


.contenedor-personajes img {
    width: 263px;
    transition: all 0.3s ease;
    filter: brightness(0.9);
    z-index: 1;
    align-self: stretch;
}



.contenedor-personajes img:hover {
    transform: scale(1.1);
    filter: brightness(1.2);
}


/*--- MODELACION 3D--*/
#personaje1_3d {
    width: 667px;
    height: 973px;
    position: absolute;
    right: 200px;
    top: 0;
}

/*----------------------- section7 ----------------*/
.section7-titulo{
    font-size: 60px;
    font-weight: 600;
    width: 816px;
    
}

#section7{
    background: linear-gradient(180deg, #FFFFFF 0%, #ADF8FD 47.09%, #EDFDFF 88.29%, #FFFFFF 107.02%);
    height: 1380px;
    position: relative;

}




.section7-texto{
    font-size: 20px;
    width: 578px;
    height: 95px;
    margin-top: 46px;
    margin-left: 100px;
 
}

#nubes {
    position: absolute;
    top: 0;

}

#nube-s7 {
    width: 387px;
    position: absolute;
    animation: nubes infinite linear;
}

#nube-s7:first-child {
    top: 370px;
    transform: translateX(1280px);
    animation-duration: 30s;
}

#nube-s7:nth-child(2) {
    width: 265px;
    top: 327px;
    transform: translateX(1000px);
    animation-duration: 40s;
}

#nube-s7:nth-child(3) {
    top: 629px;
    transform: translateX(1400px);
    animation-duration: 35s;
}

@keyframes nubes {
    100% {
        transform: translateX(-400px);
    }
}

#number2 {
    width: 480px;
    height: 480px;
    z-index: 1;
    position: absolute;
    left: 65px;
    top: 858px;
}

#number3 {
    width: 509px;
    height: 509px;
    z-index: 1;
    position: absolute;
    left: 407px;
    top: 829px;
}

#number7 {
    height: 997px;
    width: 561px;
    z-index: 1;
    position: absolute;
    left: 756px;
    top: 423px;
}



#img-pasto {
    position: absolute;
    left: 0;
    top: 991px;
}




.section7 {
    background: linear-gradient(180deg, #FFFFFF 0%, #ADF8FD 47.09%, #EDFDFF 88.29%, #FFFFFF 107.02%);
    height: 1380px;
    position: relative;
    
}


.section7-texto span{
    text-decoration-line: underline;

    
}
.section7-texto img{
    width: 231px;
    height: 145px;
    margin-top: 11px;
}

.section7 h1 {
    margin-top: -201px;
    margin-bottom: 36px;
    margin-left: 100px;
    width: 816px;
    color: #000;
    font-size: 60px;
    font-weight: 600;
    line-height: 94.5%;
    /* 56.7px */
}





.section7 form input {
    width: 553px;
    height: 82px;
    flex-shrink: 0;
    border-radius: 50px 0px 0px 50px;
    border-top: 9px solid #FFF;
    border-bottom: 9px solid #FFF;
    border-left: 9px solid #FFF;
    background: #ECECEC;
    margin-right: 0;
    padding-left: 52px;

    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 94.5%; /* 18.9px */
    letter-spacing: 2.2px;
}

.section7 form input::placeholder {
    color: rgba(0, 0, 0, 0.39);
}

.section7 form {
    display: flex;
    width: fit-content;
    filter: drop-shadow(4px 5px 0px #02187E);
    border-radius: 0px 50px 50px 50px;
    margin-left: 100px;
}

.section7 form div {
    color: #FFF;
    -webkit-text-stroke-width: 1;
    -webkit-text-stroke-color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 900;
    line-height: 94.5%;
    /* 18.9px */
    letter-spacing: 2.2px;
    width: 200px;
    margin-left: 0;
    height: 82px;
    border-radius: 0px 50px 50px 0px;
    border: 9px solid #FFF;
    background: #83C252;
    /* Drop Shadow */
    /* box-shadow: 4px 5px 0px 0px #02187E; */
    display: flex;
    justify-content: center;
    align-items: center;
}










/*-----------FOOTER -------*/

.banner-juegos{
 background-color: #242424;
 width: 1280px;
 height: 80px;
}
.banner-juegos img{
    margin-left: 100px;
    height: 75px;
    width: 1080px;
}

footer{
    width: 1280px;
    height: 515px;
    background-color: #5E5E5D;
    font-size: 20px;
    padding-top: 35px;
    position: relative;

}

footer p{
    text-decoration-line: underline;
    margin-left: 100px;
    margin-top: 22px;
    color: white;
    margin-bottom: 35px;
}

footer div{
    width: 820px;
    margin-left: 100px;
    color: white;
    
}
.redes img{
    width: 40px;
    height: 40px;
}
.redes{
    background-color: black;
    width: 220px;
    height: 41px;
}




.character_spritsheet,
.character2_spritsheet,
.character3_spritsheet {
    overflow: hidden;
    position: absolute;
    margin-left: 0px;
}

.character_spritsheet {
    width: 150px;
    height: 400px;
    top: 15px;
    left: 2px;
}

.character2_spritsheet {
    width: 90px;
    height: 300px;
    left: 15px;
    bottom: 10px;
}

.character3_spritsheet {
    width: 140px;
    height: 300px;
    right: 100px;
    top: 150px;
}

.character {
    animation: number_spritsheet 1s steps(4) infinite;
}

.character2 {
    animation: number_spritsheet 1s steps(5) infinite;
}

.character3 {
    animation: number_spritsheet 1s steps(4) infinite;
}

@keyframes number_spritsheet {
    from {
        transform: translate3d(0px, 0, 0);
    }

    to {
        transform: translate3d(-100%, 0, 0);
    }
}
    