*{
    margin: 0;
    padding: 0;
    font-family: Century Gothic;
    color: #F2F2F2;
    list-style: none;
    text-decoration: none;
    border: none;
    outline: none;
    vertical-align: baseline;
}
body{
     background:black;  
} 

/*HEADER Y NAV*/
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #FA1B5E;
    height: 72px;
}
.menu-categoria{
    display: flex;
    flex-direction: column;
}
.menu-usuario{
    display: flex;
    
}

.header-menu{
    display: flex;
    flex-direction: row;
    margin: 15px;
    justify-items:end;

    
}
 

/*FOOTER*/

.container-footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 50px;
    padding-bottom: 50px;
   
}
footer{
    background-color: #FA1B5E;
    color: white;
   
    justify-content: end;
}
.copyright{
display: block;
background-color: #18298A;
padding-top: 15px;
padding-bottom: 15px;
}
.copyright h5{
    text-align: center;
}


